body {
  background-image: linear-gradient(to bottom right, rgba(0,0,0,0.75), rgba(0,0,0,0.30)),
                    url('../img/bgimg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#loginform, #regform {
  display: none;
}
#startpage {
  position: absolute;
  top: 56px;
  left: 0px;
  width: 100%;
  height: calc(100% - 56px);
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
  font-family: 'Open Sans';
}
#nav {
  list-style: none;
  padding: 0;
}
#nav button {
  margin: 0 0 1em 0;
  padding: 0.5em 1em;
  font-size: 16pt;
  color: #f0f0f0;
/*  background-color: #0abe92;*/
  background-color: #00966a;
  border-radius: 8px;
  border: none;
  font-family: 'Open Sans';
  font-weight: bold;
}
#nav button:active {
  background-color: #008c60;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
}

/* Form Elements */
#loginform p {
  text-align: center;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
#regform p {
  text-align: center;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}
input[type=text], input[type=password] {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  color: #000000;
  padding: 0.5em;
  font-size: 12pt;
  font-family: Arial;
  width: 75%;
}
#loginform input[type=submit], #regform input[type=submit] {
  margin: 0.5em 0;
  padding: 0.25em 0;
  width: 75%;
  background-color: #dddddd;
  border: none;
  border-radius: 8px;
  font-size: 12pt;
  font-weight: bold;
  color: #333333;
}
#loginform input[type=submit]:active, #regform input[type=submit]:active {
  background-color: #bbbbbb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}
.errbox {
  color: #ff0000;
  font-weight: bold;
}
